<div class="container">
    <h2>List of Burgers</h2>
    <div class="burger-list">
        <div class="available-burgers">
            <h3>Burgers to Eat</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>{{id}} {{burger_name}}<button data-burgerID={{id}} class="eat_burger">Eat Burger</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="eaten-burgers">
            <h3>Eaten Burgers</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{id}} {{burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="burger-form">
        <h3>Add a Burger</h3>
        <form class="create-form">
            <textarea type="text" name="burger"></textarea>
            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>